<!-- modale -->
<div id="add_edit_competenze" class="modal modal-xl pb-5" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header d-flex justify-content-center">
				<h5 class="modal-title">Nuova competenza</h5>
			</div>
			<div class="modal-body">

				<form enctype="multipart/form-data" id="competenza_form" action="" method="post">
					<div class="container d-flex justify-content-around">
						<div class="form-group w-25 mx-auto">
							<input type="hidden" class="form-control" id="idCompetenza" name="idCompetenza" value="">
							<label for="name">Nome:</label>
							<input type="text" class="form-control" id="nameCompetenza" name="nameCompetenza" required>
						</div>
					</div>

					<h2 class="text-center border-1 border-top mt-5 pt-3">Assegna</h2>
					<div id="container-assegna" class="container d-flex justify-content-center gap-4"></div>

		
					<div class="container d-flex justify-content-end gap-1 mt-3">
						
						<button type="submit" class="btn btn-warning">Save</button>
						<button type="button" id="buttonCloseCompetenze" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</form>

			</div>

		</div>
	</div>
</div>
