<!-- modale -->
<div id="add_edit_competenze" class="modal modal-xl pb-5" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header d-flex justify-content-center">
				<h5 class="modal-title">Nuova competenza</h5>
			</div>
			<div class="modal-body">

				<form enctype="multipart/form-data" id="competenza_form" action="" method="post">
					<div class="container d-flex justify-content-around">
						<div class="form-group w-25 mx-auto">
							<!-- {# <input type="hidden" class="form-control" id="idModalEdit" name="id" value=""> #} -->
							<label for="name">Nome:</label>
							<input type="text" class="form-control" id="nameCompetenza" name="name" required>
						</div>
					</div>

					<h2 class="text-center border-1 border-top mt-5 pt-3">Assegna</h2>
					<div id="container-assegna" class="container d-flex justify-content-center gap-4"></div>

					<div id="container_chiamate">
						<div class="container d-flex gap-4 justify-content-center mt-4 pt-4 border-top">
							<h3>Chiamate</h3>
							<button id="addChiamata" class="btn btn-primary">+</button>
						</div>
						<div class="container p-5 pb-1 pt-1">


							<table class="table-responsive " id="chiamateTable">
								<thead>
									<tr>
										<th>ID</th>
										<th>user id</th>
										<th>Data</th>
										<th>Ora</th>
										<th>Note</th>
										<th></th>
										<!-- per il bottone rimuovi -->
									</tr>
								</thead>
								<tbody></tbody>
							</table>

							<div id="noCallsMessage" class="mx-auto bg-dark rounded-5 text-light w-50 py-1" style="display: none;">
								<h3 class="text-center">Non ci sono chiamate</h3>
							</div>


						</div>
					</div>
					<div class="container d-flex justify-content-end gap-1 mt-3">
						<button type="button" id="buttonEditId" class="buttonEdit btn btn-warning" data-toggle="modal" data-id="">
							Edit Modal
						</button>
						<button type="submit" class="btn btn-warning">Save</button>
						<button type="button" id="buttonClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</form>

			</div>
			<!-- <div class="modal-footer">
												
																<button type="button" id="buttonEditInForm" class="buttonEdit btn btn-warning" data-toggle="modal" data-id="" disabled>
																	Edit Modal
																</button>
																
															</div> -->
		</div>
	</div>
</div>
